.content {
  width: 95%;
  margin: 0 auto 0 auto;
  color: green;
  border: 1px solid green;
  text-align: center;
  &__dailyImage {
    visibility: hidden;
  }
}

.content__dailyImage {
  visibility: visible;
  & h3 {
    opacity: 1;
    color: #F93D21;
  }
  & img {
    width: 100%;
    height: auto;
  }
}
